{% set pageTitle = "Background" %}
{% set pageDescription = "TRG is the Technical Review and Governance group and is made up of technical experts from across our organisation. It meets every first and third Wednesday each month." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/background">Background</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/background">Background</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h2 id="the-role-of-trg">The role of TRG</h2>
    <p>TRG is the Technical Review and Governance group and is made up of technical experts from across our organisation. It meets every first and third Wednesday each month.</p>
    <p>TRG provides technical governance by ensuring that all developments and activities align to published policies, principles, patterns and standards.</p>
    <p>The Enterprise Architecture Board (EAB) oversees four design authorities who are responsible for maintaining those policies and standards:</p>
    <ul>
      <li><a href="/governance/bida">BIDA - Business Interoperability Design Authority</a></li>
      <li><a href="/governance/aida">AIDA - Applications and Infrastructure Design Authority</a></li>
      <li><a href="/governance/dda">DDA Data Design Authority</a></li>
      <li><a href="/governance/cda">CDA The newly formed Cyber Design Authority</a></li>
    </ul>
    <p>Where those examples of good practice may not yet exist, TRG will highlight the need to the appropriate design authority, and in the meantime will review proposed architectural decisions.</p>
    <p>The Live Services Board looks to TRG. If programmes have not been to TRG they will not be supported in going live. As a technical and/or project professional working on a new programme or project, it therefore makes sense to engage with TRG at an early stage.</p>

    <h2 id="how-this-manual-could-help-you">How this manual could help you</h2>
    <p>As a Technical Architect or Project lead:</p>
    <ul>
      <li>You need the most current and relevant information and content to ensure you can deliver effectively</li>
      <li>You need to understand the correct governance processes you need to follow and who you can speak to for help and support</li>
      <li>Most importantly you need to be able to see what has already been done; pre-approved standards, policies and principles to form application development and architectural decisions</li>
    </ul>
    <p><strong>The result?</strong> You can develop and launch projects faster and more efficiently to improve the lives of patients, clinicians and NHS workers. Ensuring public money doesn’t get wasted through duplicating efforts and creating a documented audit trail of your governance journey.</p>
    <p>This eBook is designed to help all technical and/or project professionals get to the right information faster through guided navigation. Simply select what you want to achieve either from the homepage or using the side navigation and let the eBook take you to the relevant content.</p>
    <p>Where available, we will also recommend additional information or resources which might be useful to you and your job.</p>
    <p>If you have any content you would like to add or update within the eBook, please email your request to <a href="mailto:trg.mailbox@nhs.net">trg.mailbox@nhs.net</a>.
  </div>
</div>

{% endblock %}
