{% set pageTitle = "Applications and Infrastructure Design Authority" %}
{% set pageDescription = "This is the Applications and Infrastructure Design Authority" %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
  <nav class="nhsuk-breadcrumb{% if params.classes %} {{ params.classes }}{% endif %}" aria-label="Breadcrumb"
  {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/governance"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>Governance</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/">Back Home</a></p>
  </div>
  </nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full app-component-reading-width">
    <div class="app-pane">
      <div class="app-pane__side-bar">
          {% include "./includes/_governance-side-navigation.njk" %}
      </div>
      <div class="app-pane__main-content">
        <h1>{{ pageTitle }}</h1>
        <p class="nhsuk-lede-text app-lede-text">{{ pageDescription }}</p>
        <h3>What is the role of the AIDA and how does it help my project?</h3>
        <p>AIDA is empowered by, and operates as a sub-group of, the Enterprise Architecture Board (EAB) with devolved responsibility for:</p>
        <ul>
          <li>Commissioning and approving the development of Architectural Principles, Policies, Strategies and Standards for Applications and Infrastructure which are clearly aligned to the desired business outcomes of NHS Digital and the Digital Delivery Board;</li>
          <li>Collaborating with other Design Authority Boards to ensure that coherent and cohesive Enterprise Architecture, Architectural Principles, Policies, Strategies and Standards are maintained;</li>
          <li>Supporting programmes/stakeholders wishing to build or augment new national capabilities to understand the agreed Enterprise Architecture;</li>
          <li>Ensuring that there is no duplication and conflicting development work relating to national capabilities across the Digital Transformation Portfolio and wider NHS Digital programme portfolio;</li>
          <li>Promoting innovations that could augment existing national applications and infrastructure;</li>
          <li>Acting as an escalation point for issues that affect Application and Infrastructure national capabilities.</li>
        </ul>
        <h3>What is the scope of AIDA?</h3>
        <ul>
          <li>Programmes and initiatives overseen by the Digital Delivery Board;</li>
          <li>Local Health and Care Record Exemplars;</li>
          <li>Other programmes being delivered by NHS Digital;</li>
          <li>As instructed, other programmes being delivered across national Health and Social Care bodies where the focus is on national capability or where there is a clear interface between national and local capabilities.</li>
        </ul>

        <div class="nhsuk-promo nhsuk-promo--small">
          <a class="nhsuk-promo__link-wrapper" href="mailto:ginger.buckland@nhs.net">
            <div class="nhsuk-promo__content">
              <h3 class="nhsuk-promo__heading">Who do I contact for more information?</h3>
              <p class="nhsuk-promo__description">Ginger Buckland</p>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
