{% set pageTitle = "Business Interoperability Design Authority" %}
{% set pageDescription = "This is the Business Interoperability Design Authority." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
  <section class="nhsuk-hero">
    <div class="nhsuk-width-container nhsuk-hero--border">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-3">{{ pageTitle }}</h1>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">{{ pageDescription }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/">Home</a>
        </li>
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/governance">Governance</a>
        </li>
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="/governance">Governance</a>
      </p>
    </div>
  </nav>
{% endblock %}

{% block body %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="app-pane">
        <div class="app-pane__side-bar">
          {% include "./includes/_governance-side-navigation.njk" %}
        </div>
        <div class="app-pane__main-content">
          <h2>What is the role of BIDA and how does it help my project?</h2>
          <p>BIDA operates as a sub-group of EAB with specific authority covering core common
        business design decisions around local and national interoperability, supporting the
        EAB in aligning proposed technology with business capabilities, commissioning and
        approving architectural principles, policies, strategies and standards for interoperability
        and collaborating with other Design Authorities. BIDA also act as an escalation point
        should you have any conflict or issues arise that affect interoperability.</p>
          <h2>What is the scope of BIDA?</h2>
          <ul>
            <li>Programmes and initiatives overseen by the Digital Delivery Board;</li>
            <li>Local Health and Care Record Exemplars;</li>
            <li>Other programmes being delivered by NHS Digital;</li>
            <li>As instructed, other programmes being delivered across national Health and Social Care bodies where the focus is on national capability or where there is a clear interface between national and local capabilities.</li>
          </ul>

          <figure class="nhsuk-image">
            <img class="nhsuk-image__img" src="/assets/images/trg.jpg" alt="Picture of the TRG and EAB process flow">
            <figcaption class="nhsuk-image__caption">
              The process flow between the TRG, EAB and the Design Authorities.
            </figcaption>
          </figure>

          <div class="nhsuk-grid-row nhsuk-promo-group">
            <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">

              <div class="nhsuk-promo nhsuk-promo--small">
                <a class="nhsuk-promo__link-wrapper" href="mailto:ea-da@nhs.net">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Who do I contact for more information?</h3>
                    <p class="nhsuk-promo__description">
                      Chair: Ian Townend<br>
                      Secretariat: Ginger Buckland
                    </p>
                  </div>
                </a>

              </div>
            </div>

            <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
              <div class="nhsuk-promo nhsuk-promo--small">
                <a class="nhsuk-promo__link-wrapper" href="https://hscic365.sharepoint.com/sites/Architecture/ARCHGOVBDS/Lists/Decisions%20Log/Decision%20Log.aspx">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">The EAB and its sub-group’s decisions are updated by the secretariat here</h3>
                    <p class="nhsuk-promo__description">
                      All queries regarding the decisions should be directed to ea-da@nhs.net
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="nhsuk-grid-row nhsuk-promo-group">
            <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
              <div class="nhsuk-promo nhsuk-promo--small">
                <a class="nhsuk-promo__link-wrapper" href="https://hscic365.sharepoint.com/sites/Architecture/ARCHGOVBDS/Lists/Templates/AllItems.aspx">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Take me to the documents…</h3>
                    <p class="nhsuk-promo__description">
                      The Architecture Governance Boards Template library
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
{% endblock %}
