{% set pageTitle = "Business Interoperability Design Authority" %}
{% set pageDescription = "This is the Business Interoperability Design Authority" %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">{{ pageTitle }}</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">{{ pageDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block body %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-third">
    {% include "./includes/_side-navigation.njk" %}
  </div>
  <div class="nhsuk-grid-column-two-thirds">
    <h2>BIDA</h2>
    <h3>What is the role of BIDA and how does it help my project?</h3>
<p>BIDA operates as a sub-group of EAB with specific authority covering core common
business design decisions around local and national interoperability, supporting the
EAB in aligning proposed technology with business capabilities, commissioning and
approving architectural principles, policies, strategies and standards for interoperability
and collaborating with other Design Authorities. BIDA also act as an escalation point
should you have any conflict or issues arise that affect interoperability.</p>
<h3>What is the scope of BIDA?</h3>
<ul>
<li>Programmes and initiatives overseen by the Digital Delivery Board;
<li>Local Health and Care Record Exemplars;
<li>Other programmes being delivered by NHS Digital;
<li>As instructed, other programmes being delivered across national Health and
Social Care bodies where the focus is on national capability or where there is
a clear interface between national and local capabilities.
</ul>
  </div>
</div>

<div class="nhsuk-grid-row nhsuk-promo-group">
  <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
    <div class="nhsuk-promo nhsuk-promo--small">
      <a class="nhsuk-promo__link-wrapper" href="mailto:ginger.buckland@nhs.net">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Who do I contact for more information?</h3>
          <p class="nhsuk-promo__description">Ginger Buckland</p>
        </div>
      </a>
    </div>
  </div>

</div>


{% endblock %}
