{% set pageTitle = "Corporate Portfolio Office" %}
{% set pageDescription = "Who provide support and guidance to programmes in the development, assurance and approval of investment cases." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
  <section class="nhsuk-hero">
    <div class="nhsuk-width-container nhsuk-hero--border">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-3">{{ pageTitle }}</h1>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">{{ pageDescription }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/">Home</a>
        </li>
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/governance">Governance</a>
        </li>
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="/governance">Governance</a>
      </p>
    </div>
  </nav>
{% endblock %}

{% block body %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="app-pane">
        <div class="app-pane__side-bar">
          {% include "./includes/_governance-side-navigation.njk" %}
        </div>
        <div class="app-pane__main-content">
          <p>The Corporate Portfolio Management Office (CPMO) Standards & Investment team provide support and guidance to programmes through the development,
            assurance and approval process of investment cases, for consideration by the Investment Committee (IC), the Technology & Finance Performance Board (TFPB) and onwards
            for Ministerial and HM Treasury approval. We work closely with delivery teams across the organisation, including key areas such as Finance, Procurement and Commercial.
            We facilitate tripartite joint working through close collaboration with key individuals and teams within our external partners, DHSC and NHSE, 
            to facilitate the production of good quality business cases, and to advise on the agreed required approvals being achieved on a timely basis.</p>
          <p>The Standards & Investment team is responsible ​for the management of the project and programme New Work Commission (NWC) process, ensuring that new projects and programmes
            are considered by the Delivery Assurance Board (DAB) or the Technology & Finance Performance Board (TFPB). We also manage the project and programme
            Closure process and work closely with the programmes and subject matter experts (SMEs) in NHS Digital (NHSD) including external stakeholders, such as NHSE, NHSX and DHSC.</p>
          <h3>Our aim:</h3>
          <p>We aim to continuously improve and further develop what we do to ensure that all of our agreed processes around New Work, Development, Review and Approvals and Closures are clear, as streamlined as possible and visible to all staff.
          We facilitate cases progressing smoothly and quickly through required approvals by providing support and guidance to programmes in the planning, development, assurance and approval of the business case. </p>

              <div class="nhsuk-promo nhsuk-promo--small">
                <a class="nhsuk-promo__link-wrapper" href="cpo-governance@nhs.net">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Who do I contact for more information?</h3>
                    <p class="nhsuk-promo__description">
                      cpo-governance@nhs.net
                    </p>
                  </div>
                </a>
              </div>


        </div>
      </div>
    </div>
  </div>

{% endblock %}
