{% set pageTitle = "Corporate Portfolio Office" %}
{% set pageDescription = "This is the current portfolio as it stands today. For more information, contact the portfolio owner." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">{{ pageTitle }}</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">{{ pageDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block body %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-third">
    {% include "./includes/_side-navigation.njk" %}
  </div>
  <div class="nhsuk-grid-column-two-thirds">
    <h2>CPO</h2>
    <p>For information on the role of CPO and guidance the investment case approval process, please visit our intranet page <a href="https://hscic365.sharepoint.com/CorporatePortfolioDivision/Pages/Portfolio-Governance-and-Approvals.aspx">Portfolio Governance and Approvals Process</a></p>
  </div>
</div>

{% endblock %}
