{% set pageTitle = "Portfolio" %}
{% set pageDescription = "This is the current portfolio as it stands today. For more information, contact the portfolio owner." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">{{ pageTitle }}</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">{{ pageDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block body %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h2>EAB</h2>
    <h3>What is the role of EAB and how does it help my project?</h3>
<p>The EAB ensures enterprise-wide strategic coordination across the national health
and social care organisations. It helps by providing strategic direction, governance
and assurance.</p>
<h3>What is the scope of EAB?</h3>
<ul>
<li>Programmes and initiatives overseen by the Digital Delivery Board;
<li>Other programmes being delivered by NHS Digital;
<li>Other programmes being delivered across national Health
and Social Care bodies where the focus is on national
capability or where they is a clear interface between
national and local capabilities.
</ul>
  </div>
</div>

{% endblock %}
