{% set pageTitle = "Governance" %}
{% set pageDescription = "Technical governance ensures we’re doing the right things and, doing them correctly." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">{{ pageTitle }}</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">{{ pageDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block body %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-third">
    {% include "./includes/_side-navigation.njk" %}
  </div>
  <div class="nhsuk-grid-column-two-thirds">
    <h2>Governance Home</h2>
    <p>Technical governance ensures we’re doing the right things and, doing them correctly.
Our various boards are each responsible for their own part in this:</p>
<h3>What should we be doing? </h3>

<ul>
<li>Is it strategically aligned?</li>
<li>Are the dependencies managed?</li>
<li>Technology radar</li>
<li>Understanding and managing levels of debt</li>
</ul>

 <p>The Enterprise Architecture Board (EAB) oversees four design authorities who are responsible for maintaining those policies and standards:</p>
    <ul>
      <li><a href="/governance/bida">BIDA - Business Interoperability Design Authority</a></li>
      <li><a href="/governance/aida">AIDA - Applications and Infrastructure Design Authority</a></li>
      <li><a href="/governance/dda">DDA Data Design Authority</a></li>
      <li><a href="/governance/cda">CDA The newly formed Cyber Design Authority</a></li>
    </ul>
<p>There are also two more boards responsible for live services, portfolio and platforms</p>
 <ul>
      <li><a href="/governance/cpo">Central Portfolio Office</a></li>
      <li><a href="/governance/live-services-board">Live Services Board</a></li>
           <li><a href="/governance/platform-board">Platfrom Board</a></li>
    </ul>
  </div>
</div>

{% endblock %}
