{% set pageTitle = "Governance" %}
{% set pageDescription = "Technical governance ensures we’re doing the right things and, doing them correctly." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">{{ pageTitle }}</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">{{ pageDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block body %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h2>Governance Home</h2>
    <p>Technical governance ensures we’re doing the right things and, doing them correctly.
Our various boards are each responsible for their own part in this:</p>
<h3>What should we be doing? </h3>
  <li>Who is responsible for this? Enterprise Architecture Board (EAB) </li>
  <li> What does it cover? The board verifies the overall scope and technology landscape
and looks at:</li>
<ul>
<li>Is it strategically aligned?</li>
<li> Are the dependencies managed?</li>
<li>Technology radar</li>
<li>Understanding and managing levels of debt</li>
</ul>
  </div>
</div>

{% endblock %}
