{% set pageTitle = "Governance" %}
{% set pageDescription = "Technical governance ensures we’re doing the right things and, doing them
correctly. Our various boards are each responsible for their own part in this." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
  <section class="nhsuk-hero">
    <div class="nhsuk-width-container nhsuk-hero--border">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-3">{{ pageTitle }}</h1>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">{{ pageDescription }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/">Home</a>
        </li>
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="/">Home</a>
      </p>
    </div>
  </nav>
{% endblock %}

{% block body %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="app-pane">
        <div class="app-pane__side-bar">
          {% include "./includes/_governance-side-navigation.njk" %}
        </div>
        <div class="app-pane__main-content">
          <h2>What should we be doing?</h2>
          <ul>
            <li>Is it strategically aligned?</li>
            <li>Are the dependencies managed?</li>
            <li>Technology radar</li>
            <li>Understanding and managing levels of technical debt</li>
          </ul>
          <p>The Enterprise Architecture Board (EAB) oversees four design authorities who are responsible for maintaining those policies and standards:</p>
          <ul>
            <li><a href="/governance/aida">AIDA - Applications and Infrastructure Design Authority</a></li>
            <li><a href="/governance/bida">BIDA - Business Interoperability Design Authority</a></li>
            <li><a href="/governance/cda">CDA - The newly formed Cyber Design Authority</a></li>
            <li><a href="/governance/dda">DDA - Data Design Authority</a></li>
          </ul>
          <p>There are also three more boards responsible for live services, portfolio and platforms:</p>
          <ul>
            <li><a href="/governance/cpo">Central Portfolio Management Office</a></li>
            <li><a href="/governance/live-services-board">Live Services Board</a></li>
            <li><a href="/governance/platform-board">Platform Board</a></li>
          </ul>
          <h3>How do we build things right?</h3>
          <p>Who is responsible for this? Design Authorities; Business Interoperability Design
          Authority (BIDA), Applications and Infrastructure Design Authority (AIDA), Data Design
          Authority (DDA), the newly formed CDA (Cyber Design Authority) and Platform Board</p>
          <h4>What does it cover?</h4>
          <p>The boards own, maintain and publish:</p>
          <ul>
            <li>Principles</li>
            <li>Patterns</li>
            <li>Standards</li>
            <li>Policies</li>
          </ul>
          <h3>Are we doing it right?</h3>
          <h4>Who is responsible for this? </h4>
          <p>Technical Review and Governance (TRG), Live Services
          Board</p>
          <h4>What does it cover?</h4>
          <p>The boards assure each programme and activity:</p>
          <ul>
            <li>Is it scalable/maintainable?</li>
            <li>Has it been tested?</li>
            <li>Is it suitable for live service?</li>
            <li>Does it follow published standards, platforms and policies?</li>
            <li>Is it aligned to our technology principles?</li>
          </ul>
          <p>The boards also identify needs for new standards and any potential overlap or
            duplication by covering multiple <a href="/trg/tccce">cross-cutting concerns (CCCs).</a></p>
          <figure class="nhsuk-image">
            <img class="nhsuk-image__img" src="/assets/images/trg.jpg" alt="Picture of the TRG and EAB process flow">
            <figcaption class="nhsuk-image__caption">
             The process flow between the TRG, EAB and the Design Authorities.
            </figcaption>
          </figure>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
