{% set pageTitle = "Live Services Board" %}
{% set pageDescription = "This is the Live Services Board." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
  <section class="nhsuk-hero">
    <div class="nhsuk-width-container nhsuk-hero--border">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-3">{{ pageTitle }}</h1>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">{{ pageDescription }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/">Home</a>
        </li>
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/governance">Governance</a>
        </li>
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="/governance">Governance</a>
      </p>
    </div>
  </nav>
{% endblock %}

{% block body %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="app-pane">
        <div class="app-pane__side-bar">
          {% include "./includes/_governance-side-navigation.njk" %}
        </div>
        <div class="app-pane__main-content">
          <p> The NHS Digital Live Services Board is responsible for the following:</p> 
          <ol>
            <li>Setting the strategic direction for how services under the remit of Live Services are managed and operated on behalf of the customer.</li>
            <li>Governance of Service Performance across NHS Digital IT Services, including making decisions on whether commercial remedies should be applied.</li>
            <li>Providing ‘Go Live’ approval for all new services and existing service upgrades which have significant customer impact or have the possibility of causing reputational damage. This includes all phases of delivery including private and public beta where applicable.</li>
            <li>Approving Service Design Packs for all services classified as Platinum or Gold services which deviate from standard design.</li>
            <li>Ensuring all services within the remit of Live Services are adhering to appropriate clinical governance and operating in a clinically safe manner.</li>
            <li>Ensuring all services within the remit of Live Services have in place a strategy and published roadmap and ensuring successful delivery against those roadmaps.</li>
            <li>Ensuring that key risks to service and successful delivery and issues are identified and managed effectively and escalated as necessary.</li>
            <li>Ensure that Live Services provide effective management of the pipeline of new services.</li>
            <li>Reviewing and managing the transition from programme development into live service both as a stage gate and as a future pipeline of work, in terms of capacity and transition planning.</li>
          </ol>
          <p>The board is made up of many key stakeholders from across NHS Digital including Technical Architecture.</p> 
          <p>In terms of TRG the key area of focus is in point 3 above, providing “Go live” approvals for new and service upgrades. The Live Services Board expect that as part of the service readiness approach, TRG has been consulted and the services architecture has been approved, including overall design and specific Key Architecture Decisions.</p> 
          <p>The Live Services Board is increasingly interested in understanding what levels of architecture and technical debt is being built up within the system.  In some cases, the Live Services Board will not approve “go live” decisions where the level of technical governance is not sufficient or where risks have not been mitigated.<p>
            <div class="nhsuk-promo nhsuk-promo--small">
              <a class="nhsuk-promo__link-wrapper" href="mailto:verity.chambers@nhs.net">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">Who do I contact for more information?</h3>
                  <p class="nhsuk-promo__description">
                    Verity Chambers: verity.chambers@nhs.net<br>
                    SMO mailbox : smo@nhs.net<br>
                  </p>
                </div>
              </a>
            </div>


        </div>
      </div>
    </div>
  </div>
{% endblock %}
