{% set pageTitle = "Platform Board" %}
{% set pageDescription = "This is the Platform Board" %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
  <nav class="nhsuk-breadcrumb{% if params.classes %} {{ params.classes }}{% endif %}" aria-label="Breadcrumb"
  {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      {%- for item in params.items %}
        {%- if item.href %}
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>Home</a>{% if not loop.last %}{% endif %}</li>
        {%- endif -%}
      {% endfor %}
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/governance"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>Governance</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/governance/platform-board"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>{{ pageTitle }}</a></li>
    </ol>
  </div>
  </nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full app-component-reading-width">
    <div class="app-pane">
      <div class="app-pane__side-bar">
        <div class="app-pane">
          {% include "./includes/_governance-side-navigation.njk" %}
        </div>
      </div>
      <div class="app-pane__main-content">
        <h1 class="app-page-heading">{{ pageTitle }}</h1>
        <p class="nhsuk-lede-text app-lede-text">{{ pageDescription }}</p>
        <h2>Platform Board</h2>
        <p>The Platform Board provides specific governance around infrastructure and platform choices, especially around the use of Cloud platforms. The model is driven by the result of a <a href="https://digital.nhs.uk/data-and-information/looking-after-information/data-security-and-information-governance/nhs-and-social-care-data-off-shoring-and-the-use-of-public-cloud-services/health-and-social-care-data-risk-model">cloud risk assessment</a> that programmes undertake.</p>
        <ul>
          <li>For activities at Classes I and II: TRG must be approached for approval directly.</li>
          <li>For activities at Classes III, IV and V: Platform Board must be approached for approval, and will expect activities to have been supported through TRG.</li>
        </ul>

        <div class="nhsuk-grid-row nhsuk-promo-group">
          <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo--small">
              <a class="nhsuk-promo__link-wrapper" href="https://estore.hscic.gov.uk/Store?tab=MyStore&id=0d524b44-5abc-4267-9407-b2683ff5bc26"</a>
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">Engagement form:</h3>
                  <p class="nhsuk-promo__description">
                    To engage with the Platform Board you have to complete an engagement form:
                  </p>
                </div>
             </a>
            </div>

            </div>
            <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
              <div class="nhsuk-promo nhsuk-promo--small">
                <a class="nhsuk-promo__link-wrapper" href="Infra.businessmgmt@nhs.net">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Business Management Team Minutes:</h3>
                    <p class="nhsuk-promo__description">
                      For minutes, please contact the Infrastructure Business Management Team:
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
          <div class="nhsuk-promo nhsuk-promo--small">
            <a class="nhsuk-promo__link-wrapper" href="Infra.businessmgmt@nhs.net">
              <div class="nhsuk-promo__content">
                <h3 class="nhsuk-promo__heading">Who do I contact for more information?:</h3>
                <p class="nhsuk-promo__description">
                  For minutes, please contact the Infrastructure Business Management Team:
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>


        </div>
  </div>
</div>
{% endblock %}
