{% set pageTitle = "Portfolio" %}
{% set pageDescription = "This is the current portfolio as it stands today. For more information, contact the portfolio owner." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">{{ pageTitle }}</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">{{ pageDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block body %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h2>Platform Board</h2>
    <p>The Platform Board provides specific governance around infrastructure and platform
choices, especially around the use of Cloud platforms.
The model is driven by the result of a <a href="https://digital.nhs.uk/data-and-information/looking-after-information/data-security-and-information-governance/nhs-and-social-care-data-off-shoring-and-the-use-of-public-cloud-services/health-and-social-care-data-risk-model">cloud risk assessment</a> that programmes undertake.</p>
<ul>
<li>For activities at Classes I and II: TRG must be approached for approval directly.
<li>For activities at Classes III, IV and V: Platform Board must be approached for
approval, and will expect activities to have been supported through TRG.
</ul>
  </div>
</div>

{% endblock %}
