{% set pageTitle = "Platform Board" %}
{% set pageDescription = "This is the Platform Board." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
  <section class="nhsuk-hero">
    <div class="nhsuk-width-container nhsuk-hero--border">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-3">{{ pageTitle }}</h1>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">{{ pageDescription }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/">Home</a>
        </li>
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/governance">Governance</a>
        </li>
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="/governance">Governance</a>
      </p>
    </div>
  </nav>
{% endblock %}

{% block body %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="app-pane">
        <div class="app-pane__side-bar">
          {% include "./includes/_governance-side-navigation.njk" %}
        </div>
        <div class="app-pane__main-content">
          <h2>What is the role of the Platform Board?</h2>
          <p>The Platform Board provides specific governance about infrastructure and platform choices, especially around the use of Cloud platforms. The model is driven by the result of a <a href="https://digital.nhs.uk/data-and-information/looking-after-information/data-security-and-information-governance/nhs-and-social-care-data-off-shoring-and-the-use-of-public-cloud-services/health-and-social-care-data-risk-model">cloud risk assessment</a> that programmes undertake.</p>
          <ul>
            <li>For activities at Classes I and II: TRG must be approached for approval directly.</li>
            <li>For activities at Classes III, IV and V: Further review must be carried out by specialist areas. This will automatically be requested via the TRG submission process.</li>
          </ul>


    </div>
  </div>
</div>
{% endblock %}
