{% set trgPages = [
  { title: "TRG home", url: "/trg" },
  { title: "Security CCC", url: "/trg/sccc" },
  { title: "Interoperability CCC", url: "/trg/iccc" },
  { title: "Usability and Accessibility", url: "/trg/ua" },
  { title: "Security", url: "/trg/security" },
  { title: "Live Services SM", url: "/trg/lss" },
  { title: "Development", url: "/trg/development" },
  { title: "Infrastructure", url: "/trg/infrastructure" },
  { title: "Data and Solutions Assurance", url: "/trg/dsa" },
  { title: "Information on CCCs", url: "/trg/contacts" }
] %}

<nav class="app-side-nav">
  <h2 class="app-side-nav__heading">Technical Review Group</h2>
  <ul class="nhsuk-list app-side-nav__list">
    {% for item in trgPages %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</nav>
