{% set trgPages = [
  { title: "TRG home", url: "/trg" },
  { title: "The CCCs explained", url: "/trg/tccce" },
  { title: "CCC Contacts", url: "/trg/contacts" },
  { title: "Data CCC", url: "/trg/dccc" },
  { title: "Development CCC", url: "/trg/development" },
  { title: "Infrastructure CCC", url: "/trg/infrastructure" },
  { title: "Interoperability CCC", url: "/trg/iccc" },
  { title: "Live Services SM CCC", url: "/trg/lss" },
  { title: "Usability and Accessibility CCC", url: "/trg/ua" },
  { title: "Security CCC", url: "/trg/sccc" },
  { title: "Solution Assurance CCC", url: "/trg/saccc" }
] %}




<nav class="app-side-nav">
  <h2 class="app-side-nav__heading">Technical Review Group</h2>
  <ul class="nhsuk-list app-side-nav__list">
    {% for item in trgPages %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</nav>
