{% set pageTitle = "CCC Contacts" %}
{% set pageDescription = "TRG is responsible for the technical review and governance of all NHS Digital projects throughout the delivery lifecycle." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">{{ pageTitle }}</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">{{ pageDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/trg">TRG</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/trg">TRG</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full app-component-reading-width">
    <div class="app-pane">
      <div class="app-pane__side-bar">
          {% include "./includes/_trg-side-navigation.njk" %}
      </div>
      <div class="app-pane__main-content">
        <h2>CCC Contacts</h2>

        <div class="nhsuk-table-responsive">
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">CCC Contacts</caption>
            <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">CCC</th>
              <th class="nhsuk-table__header" scope="col">CCC Lead</th>
              <th class="nhsuk-table__header" scope="col"></th>
            </tr>
            </thead>
            <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Development CCC</td>
              <td class="nhsuk-table__cell">ChrisWalters</td>
              <td class="nhsuk-table__cell"><a href="mailto:chris.walters@nhs.net">chris.walters@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Development CCC</td>
              <td class="nhsuk-table__cell">Andrew Blundell</td>
              <td class="nhsuk-table__cell"><a href="mailto:Andrew.blundell@nhs.net">Andrew.blundell@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Usability and Accessibility</td>
              <td class="nhsuk-table__cell">Dean Vipond</td>
              <td class="nhsuk-table__cell"><a href="mailto:Dean.vipond@nhs.net">Dean.vipond@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Infrastructure</td>
              <td class="nhsuk-table__cell">Phil Judge</td>
              <td class="nhsuk-table__cell"><a href="mailto:Phil.judge@nhs.net">Phil.judge@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Infrastructure</td>
              <td class="nhsuk-table__cell">Rob Purvis</td>
              <td class="nhsuk-table__cell"><a href="mailto:Rob.purvis@nhs.net">Rob.purvis@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Infrastructure</td>
              <td class="nhsuk-table__cell">Greg Fletcher</td>
              <td class="nhsuk-table__cell"><a href="mailto:Greg.fletcher@nhs.net">Greg.fletcher@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Infrastructure</td>
              <td class="nhsuk-table__cell">Matthew Brownhill</td>
              <td class="nhsuk-table__cell"><a href="mailto:Matthew.brownhill@nhs.net">Matthew.brownhill@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Infrastructure </td>
              <td class="nhsuk-table__cell">Ed Hiley</td>
              <td class="nhsuk-table__cell"><a href="mailto:Ed.hiley@nhs.net">Ed.hiley@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Infrastructure</td>
              <td class="nhsuk-table__cell">Rafiq Khurram</td>
              <td class="nhsuk-table__cell"><a href="mailto:Rafiq.khurram@nhs.net">Rafiq.khurram@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Interoperability </td>
              <td class="nhsuk-table__cell">Jonathan Telfer</td>
              <td class="nhsuk-table__cell"><a href="mailto:Jonathan.telfer@nhs.net">Jonathan.telfer@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Security</td>
              <td class="nhsuk-table__cell">Andy Smith</td>
              <td class="nhsuk-table__cell"><a href="mailto:Andy.smith@nhs.net">Andy.smith@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Security</td>
              <td class="nhsuk-table__cell">Peter Barrett</td>
              <td class="nhsuk-table__cell"><a href="mailto:Peter.barrett@nhs.net">Peter.barrett@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Security</td>
              <td class="nhsuk-table__cell">Sadi Sengel</td>
              <td class="nhsuk-table__cell"><a href="mailto:Sadi.sengel@nhs.net">Sadi.sengel@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Live Services SM</td>
              <td class="nhsuk-table__cell">Ian Crewe</td>
              <td class="nhsuk-table__cell"><a href="mailto:Ian.crewe@nhs.net">Ian.crewe@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Live Services SM</td>
              <td class="nhsuk-table__cell">Niti Patel</td>
              <td class="nhsuk-table__cell"><a href="mailto:Niti.patel@nhs.net">Niti.patel@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Solutions Assurance </td>
              <td class="nhsuk-table__cell">Damian Murphy</td>
              <td class="nhsuk-table__cell"><a href="mailto:Damian.murphy@nhs.net">Damian.murphy@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Solutions Assurance</td>
              <td class="nhsuk-table__cell">Phil Morton</td>
              <td class="nhsuk-table__cell"><a href="mailto:Phil.morton@nhs.net">Phil.morton@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Data</td>
              <td class="nhsuk-table__cell">John Brent</td>
              <td class="nhsuk-table__cell"><a href="mailto:John.brent@nhs.net">John.brent@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Data</td>
              <td class="nhsuk-table__cell">David Riley</td>
              <td class="nhsuk-table__cell"><a href="mailto:David.riley@nhs.net">David.riley@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Data</td>
              <td class="nhsuk-table__cell">Gerry Firkins</td>
              <td class="nhsuk-table__cell"><a href="mailto:Gerry.firkins@nhs.net">Gerry.firkins@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Data</td>
              <td class="nhsuk-table__cell">Nicholas Oughtibridge</td>
              <td class="nhsuk-table__cell"><a href="mailto:Nicholas.oughtibridge@nhs.net">Nicholas.oughtibridge@nhs.net</a></td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}

