{% set pageTitle = "Contacts" %}
{% set pageDescription = "TRG is responsible for the technical review and governance of all NHS Digital projects throughout the delivery lifecycle." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">{{ pageTitle }}</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">{{ pageDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/trg">TRG</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/trg">TRG</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full app-component-reading-width">
    <div class="app-pane">
      <div class="app-pane__side-bar">
          {% include "./includes/_trg-side-navigation.njk" %}
      </div>
      <div class="app-pane__main-content">
        <h2>Taking Something through the TRG</h2>
        <p>We are required, by the Government, to provide fully audited and traceable governance of all the services we at NHS Digital deliver. TRG is how we do this for technology.
        The role of the TRG is to provide technical reviews and governance across the delivery lifecycle of all NHS Digital projects. We ensure that the right criteria are being met
        (principles, strategies, policies, standards and guidance) at every step of the way from Discovery stage to Go Live. </p>

        <ul>
          <li>The TRG are not there to increase workload or complexity – rather the opposite</li>
          <li>We ensure scalability and flexibility but with the necessary controls</li>
          <li>This process helps make sure the right decisions are being made at the right time</li>
          <li>Protecting public spending and providing a level of confidence in the programmes being launched to reduce risk of failure.</li>
        </ul>

        <h2>What do I need to take to TRG</h2>
        <p>All works (programmes, projects or other initiatives) which lead to a change to the systems and services impacting technology need to have TRG consideration.
        Identifying where there is a need for TRG involvement and ensuring that the right information is provided early on avoids any potential for delays or misunderstandings
        later. It also ensures that each of the CCCs have the information they need at the right time.</p>

        <h3>Examples of work that would require TRG engagement</h3>
        <p>New solution designs, from concept to physical design process, cloud infrastructure
        requests and code-in-the-open submissions. TRG is also there to review current longterm,
        large scale programmes against PPPS (Principles, Policies, Patterns and Standards).
        The checklist is frequently updated as part of our continual improvement process, so
        please always look at the latest version.</p>

        <h3>What don’t I need to take to the TRG?</h3>
        <p>However there are many things (applications, standards, tech stacks) which will have
        already been approved and published as “Preferred” or “Strategic”. In these cases, you
        won’t need to present them for review, you just have to simply declare you are using them.
        You can access a list of everything TRG has approved in <a href="https://aalto.digital.nhs.uk/#/dashboard?library=5464c07f-daf1-4eee-b9b6-22e6c4dfbbd0">Aalto</a></p>

        <h3>TRG meeting attendance</h3>
        <p>We would like to see people attend the formal TRG meetings by exception only</p>

        <h3>What is my responsibility with CCCs?</h3>
        <p>All submissions will be made via the EA portal and these will be visible to those
        responsible for each of the cross-cutting concerns (CCCs).</p>

        <h4>There are eight CCCs</h4>
        <p>Development, Digital UX, Infrastructure, Interoperability, Security, Service
        Management, Solutions Assurance and Data. They will look to gauge your awareness,
        alignment to policies and standards, consideration and engagement with each of these
        areas within your proposed programme/activity and may require further information.
        The CCC owner will review what is on the portal and will either approve, ignore (if it isn’t
        relevant), reject or ask questions for clarification. It is your responsibility to respond to
        any CCC questions or concerns in a timely manner to ensure no delays at TRG.</p>

        <div class="nhsuk-grid-row nhsuk-promo-group">
          <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo--small">
              <a class="nhsuk-promo__link-wrapper" href="mailto:trg.mailbox@nhs.net">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">Who can I contact about TRG:</h3>
                  <p class="nhsuk-promo__description">Chair: Rob Sinclair <br>
                    Secretariat: Laura Fenton</p>
                </div>
              </a>
            </div>
          </div>
          <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo--small">
              <a class="nhsuk-promo__link-wrapper" href="/trg/contacts">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">I want to find information about who the CCC Leads are:</h3>
                  <p class="nhsuk-promo__description">CCC Contact List</p>
                </div>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
