{% set pageTitle = "CCC Contacts" %}
{% set pageDescription = "Engage the CCC contact for each relevant area of your submission as early as you can in the process." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">{{ pageTitle }}</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">{{ pageDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/trg">TRG</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/trg">TRG</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full app-component-reading-width">
    <div class="app-pane">
      <div class="app-pane__side-bar">
          {% include "./includes/_trg-side-navigation.njk" %}
      </div>
      <div class="app-pane__main-content">
        <h2>CCC Contacts</h2>

        <div class="nhsuk-table-responsive">

          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">CCC Contacts</caption>
            <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Area</th>
              <th class="nhsuk-table__header" scope="col">Lead</th>
              <th class="nhsuk-table__header" scope="col"></th>
            </tr>
            </thead>
            <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/trg/dccc">Data</a></td>
              <td class="nhsuk-table__cell">Richard Irvine</td>
              <td class="nhsuk-table__cell"><a href="mailto:richard.irvine@nhs.net">richard.irvine@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">Nicholas Oughtibridge</td>
              <td class="nhsuk-table__cell"><a href="mailto:nicholas.oughtibridge@nhs.net">nicholas.oughtibridge@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">James Humphries-Hart</td>
              <td class="nhsuk-table__cell"><a href="mailto:james.humphries2@nhs.net">james.humphries2@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/trg/development">Development</a></td>
              <td class="nhsuk-table__cell">Chris Walters</td>
              <td class="nhsuk-table__cell"><a href="mailto:chris.walters@nhs.net">chris.walters@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">Andrew Blundell</td>
              <td class="nhsuk-table__cell"><a href="mailto:andrew.blundell@nhs.net">andrew.blundell@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/trg/iccc">Interoperability</a></td>
              <td class="nhsuk-table__cell">Jonathan Telfer</td>
              <td class="nhsuk-table__cell"><a href="mailto:jonathan.telfer@nhs.net">jonathan.telfer@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">Peter Barrett</td>
              <td class="nhsuk-table__cell"><a href="mailto:peter.barrett4@nhs.net">peter.barrett4@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">Sadi Sengel</td>
              <td class="nhsuk-table__cell"><a href="mailto:sadi.sengel@nhs.net">sadi.sengel@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/trg/infrastructure">Infrastructure</a></td>
              <td class="nhsuk-table__cell">Rob Purvis</td>
              <td class="nhsuk-table__cell"><a href="mailto:Rob.purvis@nhs.net">robert.purvis@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">Phil Judge</td>
              <td class="nhsuk-table__cell"><a href="mailto:philip.judge@nhs.net">philip.judge@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">Greg Fletcher</td>
              <td class="nhsuk-table__cell"><a href="mailto:greg.fletcher@nhs.net">greg.fletcher@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">Ed Hiley</td>
              <td class="nhsuk-table__cell"><a href="mailto:edward.hiley@nhs.net">edward.hiley@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">Khurram Rafiq</td>
              <td class="nhsuk-table__cell"><a href="mailto:khurram.rafiq@nhs.net">khurram.rafiq@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/trg/lss">Live Services SM</a></td>
              <td class="nhsuk-table__cell">Ian Crewe</td>
              <td class="nhsuk-table__cell"><a href="mailto:ian.crewe@nhs.net">ian.crewe@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">Niti Patel</td>
              <td class="nhsuk-table__cell"><a href="mailto:niti.patel@nhs.net">niti.patel@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/trg/sccc">Security</a></td>
              <td class="nhsuk-table__cell">Peter Barrett</td>
              <td class="nhsuk-table__cell"><a href="mailto:peter.barrett4@nhs.net">peter.barrett4@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">Sadi Sengel</td>
              <td class="nhsuk-table__cell"><a href="mailto:sadi.sengel@nhs.net">sadi.sengel@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/trg/saccc">Solution Assurance</a></td>
              <td class="nhsuk-table__cell">Damian Murphy</td>
              <td class="nhsuk-table__cell"><a href="mailto:damian.murphy@nhs.net">damian.murphy@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">Phil Morton</td>
              <td class="nhsuk-table__cell"><a href="mailto:philip.morton@nhs.net">philip.morton@nhs.net</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/trg/ua">Usability and Accessibility</a></td>
              <td class="nhsuk-table__cell">Dean Vipond</td>
              <td class="nhsuk-table__cell"><a href="mailto:dean.vipond1@nhs.net">dean.vipond1@nhs.net</a></td>
            </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}

