{% set pageTitle = "TRG" %}
{% set pageDescription = "TRG is responsible for the technical review and governance of all NHS Digital projects throughout the delivery lifecycle." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">{{ pageTitle }}</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">{{ pageDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block body %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

  <h2 id="the-role-of-trg">The role of TRG</h2>
    <p>TRG is the Technical Review and Governance group and is made up of technical experts from across our organisation. It meets every first and third Wednesday each month.</p>
    <p>TRG provides technical governance by ensuring that all developments and activities align to published policies, principles, patterns and standards.</p>
    <p>The Enterprise Architecture Board (EAB) oversees four design authorities who are responsible for maintaining those policies and standards:</p>
    <ul>
      <li><a href="/governance/bida">BIDA - Business Interoperability Design Authority</a></li>
      <li><a href="/governance/aida">AIDA - Applications and Infrastructure Design Authority</a></li>
      <li><a href="/governance/dda">DDA Data Design Authority</a></li>
      <li><a href="/governance/cda">CDA The newly formed Cyber Design Authority</a></li>
    </ul>
    <p>Where those examples of good practice may not yet exist, TRG will highlight the need to the appropriate design authority, and in the meantime will review proposed architectural decisions.</p>
    <p>The Live Services Board looks to TRG. If programmes have not been to TRG they will not be supported in going live. As a technical and/or project professional working on a new programme or project, it therefore makes sense to engage with TRG at an early stage.</p>

    <h2 id="how-this-manual-could-help-you">How this manual could help you</h2>
    <p>As a Technical Architect or Project lead:</p>
    <ul>
      <li>You need the most current and relevant information and content to ensure you can deliver effectively</li>
      <li>You need to understand the correct governance processes you need to follow and who you can speak to for help and support</li>
      <li>Most importantly you need to be able to see what has already been done; pre-approved standards, policies and principles to form application development and architectural decisions</li>
    </ul>
    <p><strong>The result?</strong> You can develop and launch projects faster and more efficiently to improve the lives of patients, clinicians and NHS workers. Ensuring public money doesn’t get wasted through duplicating efforts and creating a documented audit trail of your governance journey.</p>
    <p>This eBook is designed to help all technical and/or project professionals get to the right information faster through guided navigation. Simply select what you want to achieve either from the homepage or using the side navigation and let the eBook take you to the relevant content.</p>
    <p>Where available, we will also recommend additional information or resources which might be useful to you and your job.</p>
    <p>If you have any content you would like to add or update within the eBook, please email your request to <a href="mailto:trg.mailbox@nhs.net">trg.mailbox@nhs.net</a>.
    <h2>Taking Something through the TRG</h2>
    <p>We are required, by the Government, to provide fully audited and traceable governance of all the services we at NHS Digital deliver. TRG is how we do this for technology.
The role of the TRG is to provide technical reviews and governance across the delivery lifecycle of all NHS Digital projects. We ensure that the right criteria are being met
(principles, strategies, policies, standards and guidance) at every step of the way from Discovery stage to Go Live.
<ul>
<li>The TRG are not there to increase workload or complexity – rather the opposite.
We ensure scalability and flexibility but with the necessary controls.
<li>This process helps make sure the right decisions are being made at the right time.
Protecting public spending and providing a level of confidence in the programmes
being launched to reduce risk of failure.
<ul>
</p>
<h2>What do I need to take to TRG</h2>
<p>All works (programmes, projects or other initiatives) which lead to a change to the systems and services impacting technology need to have TRG consideration.
Identifying where there is a need for TRG involvement and ensuring that the right information is provided early on avoids any potential for delays or misunderstandings
later. It also ensures that each of the CCCs have the information they need at the right time.
</p>

<h3>Examples of work that would require TRG engagement</h3>
<p>New solution designs, from concept to physical design process, cloud infrastructure
requests and code-in-the-open submissions. TRG is also there to review current longterm,
large scale programmes against PPPS (Principles, Policies, Patterns and Standards).
The checklist is frequently updated as part of our continual improvement process, so
please always look at the latest version.</p>

<h3>What don’t I need to take to the TRG?</h3>
<p>However there are many things (applications, standards, tech stacks) which will have
already been approved and published as “Preferred” or “Strategic”. In these cases, you
won’t need to present them for review, you just have to simply declare you are using them.
You can access a list of everything TRG has approved in <a href="https://aalto.digital.nhs.uk/#/dashboard?library=5464c07f-daf1-4eee-b9b6-22e6c4dfbbd0">Aalto</a></p>

<h3>TRG meeting attendance</h3>
<p>We would like to see people attend the formal TRG meetings by exception only</p>

<h3>What is my responsibility with CCCs?</h3>
<p>All submissions will be made via the EA portal and these will be visible to those
responsible for each of the cross-cutting concerns (CCCs).</p>
<h4>There are eight CCCs</h4>
<p>Development, Digital UX, Infrastructure, Interoperability, Security, Service
Management, Solutions Assurance and Data. They will look to gauge your awareness,
alignment to policies and standards, consideration and engagement with each of these
areas within your proposed programme/activity and may require further information.
The CCC owner will review what is on the portal and will either approve, ignore (if it isn’t
relevant), reject or ask questions for clarification. It is your responsibility to respond to
any CCC questions or concerns in a timely manner to ensure no delays at TRG.</p>


  </div>
</div>
<div class="nhsuk-grid-row nhsuk-promo-group">
  <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
    <div class="nhsuk-promo nhsuk-promo--small">
      <a class="nhsuk-promo__link-wrapper" href="mailto:trg.mailbox@nhs.net">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Who can I contact about TRG:</h3>
          <p class="nhsuk-promo__description">Chair: Rob Sinclair Secretariat: Laura Fenton</p>
        </div>
      </a>
    </div>
  </div>
   <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
    <div class="nhsuk-promo nhsuk-promo--small">
      <a class="nhsuk-promo__link-wrapper" href="/trg/contacts">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">I want to find information about who the CCC Leads are:</h3>
          <p class="nhsuk-promo__description">CCC Contact List</p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="nhsuk-grid-row nhsuk-promo-group">
  <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
    <div class="nhsuk-promo nhsuk-promo--small">
      <a class="nhsuk-promo__link-wrapper" href="https://hscic365.sharepoint.com/:w:/r/sites/TR&G/_layouts/15/Doc.aspx?sourcedoc=%7B1AD2E35C-F615-4FFF-AB89-CAE195195231%7D&file=TRG%20Entry%20Checklist.docx&action=default&mobileredirect=true">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">I need to take something to TRG:</h3>
          <p class="nhsuk-promo__description">Complete this checklist and send to the TRG mailbox.</p>
        </div>
      </a>
    </div>
  </div>
</div>


{% endblock %}
