{% set pageTitle = "Service Management CCC" %}
{% set pageDescription = "Concerned with assessing the design and readiness of any new service prior to sign-off." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
  <section class="nhsuk-hero">
    <div class="nhsuk-width-container nhsuk-hero--border">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-3">{{ pageTitle }}</h1>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">{{ pageDescription }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/trg">TRG</a></li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/trg">TRG</a></p>
    </div>
  </nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full app-component-reading-width">
    <div class="app-pane">
      <div class="app-pane__side-bar">
        {% include "./includes/_trg-side-navigation.njk" %}
      </div>
      <div class="app-pane__main-content">
        <h2>What is the role of the Service Management CCC?</h2>
        <p>The Live Services Service Management (SM) CCC is part of the Platforms, Infrastructure and Live Services directorate, and they are responsible for assessing the design and readiness of any new service prior to sign-off.</p>
        <p>They manage NHS Digital Live Services, which underpin all areas of health and care, to ensure that they are available when clinicians, patients and social care users need them and that their performance remains aligned to business need. This spans internally operated services and those that NHS Digital has procured third parties to deliver and operate on its behalf.</p>
        <p>They also have a key role in ensuring that new and significantly changed services are fit for purpose and use, by helping delivery teams to complete the necessary steps to ensure that they are viable, supportable and suitable to 'wear' the NHS Digital logo. This is called their Pipeline Process and can be triggered by a request to the PILS Front Door.</p>
        <p>Any new service submissions to TRG have to be approved by the Live Services SM Board which includes meeting the six criteria listed below:</p>
          <p>SM1 - PGSB Service Categorisation</p>
          <p>SM2 - All PGSB Service category agreed with Live Service</p>
          <p>SM3 - Engagement with LS will take place via PILS Front Door</p>
          <p>SM4 - Service offering/service Design will be agreed with LS level of detail increases through the design life cycle</p>
          <p>SM5 - All Go Lives must be approved by SM Board</p>
          <p>SM6 - SM Tooling Platform - Cherwell SM</p>
        <h3> What evidence will they be looking for in your submission?</h3>
        <ul>
          <li>Have you engaged with anyone in the Service Management team for advice when drafting your submission? This should ideally happen as early as possible in the process.</li>
          <li>Similarly, it is advisable to raise a NWR (new work request) via PILS Front Door as early as possible.</li>
        </ul>
        <div class="nhsuk-promo nhsuk-promo--small">
          <a class="nhsuk-promo__link-wrapper" href="mailto:ian.crewe@nhs.net">
            <div class="nhsuk-promo__content">
              <h3 class="nhsuk-promo__heading">Who do I contact for more information?</h3>
              <p class="nhsuk-promo__description">
               Ian Crewe: ian.crewe@nhs.net<br>
              </p>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
