{% set pageTitle = "Sustainability CCC" %}
{% set pageDescription = "concerned with ensuring submissions have duly considered the climate and organisational impact of the proposed change." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
  <section class="nhsuk-hero">
    <div class="nhsuk-width-container nhsuk-hero--border">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-3">{{ pageTitle }}</h1>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">{{ pageDescription }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/trg">TRG</a></li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/trg">TRG</a></p>
    </div>
  </nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full app-component-reading-width">
    <div class="app-pane">
      <div class="app-pane__side-bar">
        {% include "./includes/_trg-side-navigation.njk" %}
      </div>
      <div class="app-pane__main-content">
        <h2>What is the role of the Sustainability CCC?</h2>
        <p>The Sustainability CCC is concerned with ensuring submissions have duly considered the climate and organisational impact of the proposed change.</p>
        <p>This would include ensuring that services are:</p>
        <ul>
        <li>Right-sized for their utilisation, for instance by using serverless cloud compute.</li>
        <li>Adopting higher-tier services where possible, indicating a preference for SaaS, PaaS over IaaS.</li>
         <li>Considering and documenting the CO2 impact of service design choices.</li>
        </ul>
        <p>It is recommended to engage with the Sustainability CCC as early as possible in the process of drafting your TRG submission.</p>
        <h3>What evidence will they be looking for in your submission?</h3>
          <ul>
            <li>How have you designed the service to ensure optimal resource utilisation?</li>
            <li>If you are using IaaS tier services, have you articulated why SaaS or PaaS options are not available?</li>
            <li>If you are using NHS-managed infrastructure, have you documented the CO2 impact of doing so?</li>
        </ul>
       
        <div class="nhsuk-promo nhsuk-promo--small">
          <a class="nhsuk-promo__link-wrapper" href="mailto:david.mccafferty1@nhs.net">
            <div class="nhsuk-promo__content">
              <h3 class="nhsuk-promo__heading">Who do I contact for more information?</h3>
              <p class="nhsuk-promo__description">
                nhsd.architecture@nhs.net<br>
              </p>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
