{% set governancePages = [
  { title: "Governance home", url: "/governance/" },
  { title: "Enterprise Architecture Board", url: "/governance/eab" },
  { title: "Corporate Portfolio Office", url: "/governance/CPO" },
  { title: "Platform Board", url: "/governance/platform-board" },
  { title: "Live Service Board", url: "/governance/lsb" },
  { title: "Business Interoperability Design Authority", url: "/governance/bida" },
  { title: "Applications and Infrastructure Design Authority", url: "/governance/aida" },
  { title: "Data Design Authority", url: "/governance/dda" },
  { title: "Cyber Design Authority", url: "/governance/cda" }
] %}

<nav class="app-side-nav">
  <h2 class="app-side-nav__heading">Governance</h2>
  <ul class="nhsuk-list app-side-nav__list">
  {% for item in governancePages %}
    <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
  {% endfor %}
  </ul>
</nav>
