{% set governancePages = [
  { title: "Governance home", url: "/governance/" },
  { title: "Corporate Portfolio Management Office", url: "/governance/CPO" },
  { title: "Enterprise Architecture Board", url: "/governance/eab" },
  { title: "Applications and Infrastructure Design Authority (AIDA)", url: "/governance/aida" },
  { title: "Business Interoperability Design Authority (BDA)", url: "/governance/bida" },
  { title: "Cyber Design Authority (CDA)", url: "/governance/cda" },
  { title: "Data Design Authority (DDA)", url: "/governance/dda" },
  { title: "Live Service Board", url: "/governance/lsb" },
  { title: "Platform Board", url: "/governance/platform-board" }
] %}

<nav class="app-side-nav">
  <h2 class="app-side-nav__heading">Governance</h2>
  <ul class="nhsuk-list app-side-nav__list">
  {% for item in governancePages %}
    <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
  {% endfor %}
  </ul>
</nav>
