{% set pageTitle = "Content" %}
{% set pageDescription = "Don’t waste time searching high and low for content or creating material from scratch which may already exists" %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">{{ pageTitle }}</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">{{ pageDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block body %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h2>Content Home</h2>
    <p>Simply select the technology area you are interested in below and we will guide you to all relevant related information including guiding principles, strategies, policies, standards, patterns, applications, CCCs and approved technology stacks. And if you still can’t find what you need, we will show you who you need to talk to.</p>
  </div>

</div>

<div class="nhsuk-grid-row nhsuk-promo-group">
  <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
    <div class="nhsuk-promo nhsuk-promo--small">
      <a class="nhsuk-promo__link-wrapper" href="/content/data">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">I want to find information about a specific technology area:</h3>
          <p class="nhsuk-promo__description">Data</p>
        </div>
      </a>
    </div>
  </div>
   <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
    <div class="nhsuk-promo nhsuk-promo--small">
      <a class="nhsuk-promo__link-wrapper" href="/content/platform-and-infrastructure">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">I want to find information about a specific technology area:</h3>
          <p class="nhsuk-promo__description">Platform and Infrastructure</p>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}
