{% set pageTitle = "Portfolio" %}
{% set pageDescription = "This is the current portfolio as it stands today. For more information, contact the portfolio owner." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
  <nav class="nhsuk-breadcrumb{% if params.classes %} {{ params.classes }}{% endif %}" aria-label="Breadcrumb"
  {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/portfolio" {% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>Portfolio</a></li>
    </ol>
  </div>
  </nav>
{% endblock %}

{% block body %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="app-page-heading">{{ pageTitle }}</h1>
    <p class="nhsuk-lede-text app-lede-text">{{ pageDescription }}</p>
  </div>
</div>

{% endblock %}
