{% set pageTitle = "Cloud" %}
{% set pageDescription = "Developing services within the public cloud does not come without risk." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
  <section class="nhsuk-hero">
    <div class="nhsuk-width-container nhsuk-hero--border">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-3">{{ pageTitle }}</h1>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">{{ pageDescription }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/">Home</a>
        </li>
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/information">Information</a>
        </li>
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="/information">Information</a>
      </p>
    </div>
  </nav>
{% endblock %}

{% block body %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="app-pane">
        <div class="app-pane__side-bar">
          {% include "./includes/_information-side-navigation.njk" %}
        </div>
        <div class="app-pane__main-content">
          <h2>Cloud strategy</h2>
          <p>Designed to align with and comply
        with existing national best practice (National Cyber
        Security Centre Cloud Security Principles), the <a href="https://hscic365.sharepoint.com/ICT/Pages/Infra/Cloud-Policy.aspx">Public
        Cloud and Co-Location Infrastructure Platforms
        Policy</a> will help you understand the risks and the
        relevant controls to mitigate these.</p>
          <h3>Does this apply to me?</h3>
          <p>This policy applies to anyone involved in the
        governance, commissioning, design, development
        or delivery of NHS Digital services</p>
          <h3>What is it?</h3>
          <ul>
            <li>It provides guidance and clarification on the controls that must be implemented to
        provide a secure approach to providing access and transfer capabilities between the
        NHS private network environment and public cloud platforms.</li>
            <li>It defines our risk appetite (in line with the Data Risk Assessment guidance) and
        the constraints that you should apply when using public cloud for hosting services
        and applications. It will help you understand the necessary constraints and the
        expectations programmes and functions will have to provide for cloud services
        once their data classification is identified.</li>
          </ul>
          <h3>What does the Public Cloud and Co-location Infrastructure Platforms Policy cover?</h3>
          <ol>
            <li>Regulatory requirements</li>
            <li>Data Risk Assessment classifications</li>
            <li>Minimum documentation standards and principles</li>
            <li>Approval flow for cloud services</li>
            <li>Governance</li>
            <li>Selecting and working with the appropriate cloud</li>
            <ol>
              <li>Guidance on migrating existing/legacy services to Public Cloud</li>
              <li>Guidance on developing NEW services in Public Cloud</li>
            </ol>
        </ol>
        <h3>Is it known by another name</h3>
        <p>Yes. You may also have heard this policy called the Public Cloud First Policy,
        the Cloud Hosting Policy or Public Cloud Access from NHS Private Network.
        They are all the same thing.</p>
        <div class="nhsuk-grid-row nhsuk-promo-group">
          <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo--small">
              <a class="nhsuk-promo__link-wrapper" href="https://hscic365.sharepoint.com/Platforms_and_Infrastructure/Pages/Cloud-Design-Guidance.aspx">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">I want to find information about Cloud Design Guidance</h3>
                  <p class="nhsuk-promo__description">Cloud Design Guidance</p>
                </div>
              </a>
            </div>
          </div>
          <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo--small">
              <a class="nhsuk-promo__link-wrapper" href="https://hscic365.sharepoint.com/Platforms_and_Infrastructure/Pages/Cloud-IP-Addressing.aspx">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">I want to find information about Cloud Security Guidance</h3>
                  <p class="nhsuk-promo__description">Cloud Security Guidance</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="nhsuk-grid-row nhsuk-promo-group">
          <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo--small">
              <a class="nhsuk-promo__link-wrapper" href="https://hscic365.sharepoint.com/Platforms_and_Infrastructure/Pages/Cloud-Security-Guidance.aspx">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">I want to find information about Cloud IP Addressing Guidance</h3>
                  <p class="nhsuk-promo__description">Cloud IP Addressing Guidance</p>
                </div>
              </a>
            </div>
          </div>
          <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo--small">
              <a class="nhsuk-promo__link-wrapper" href="https://hscic365.sharepoint.com/Platforms_and_Infrastructure/Pages/Cloud-Monitoring-Guidance.aspx">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">I want to find information about Cloud Monitoring Guidance</h3>
                  <p class="nhsuk-promo__description">Cloud Monitoring Guidance</p>
                </div>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
