{% set pageTitle = "Information" %}
{% set pageDescription = "Don’t waste time searching high and low for content or creating material from scratch which may already exist." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">{{ pageTitle }}</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">{{ pageDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/">Home</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="app-pane">
      <div class="app-pane__side-bar">
          {% include "./includes/_information-side-navigation.njk" %}
      </div>
      <div class="app-pane__main-content">
        <h2>How we define and categorise content</h2>
        <p>Simply select the technology area you are interested in below and we will
        guide you to all relevant related information including guiding principles,
        strategies, policies, standards, patterns, applications, CCCs and approved
        technology stacks. And if you still can’t find what you need, we will show you
        who you need to talk to.</p>
        <ul>
        Principle
          <li>A principle is a rarely changing rule or guideline. Our principles define how the NHS needs to operate in the future and are designed to empower you to act without constant monitoring, evaluating, correcting and controlling. They must be adopted when applying governance to all systems, services and applications.</li>
        Strategy
          <li>A strategy is a plan of action designed to achieve a long term or overall aim. They outline our specific visions and identify the direction of travel. Our strategies are underpinned and informed typically by a set of principles and will go on to guide specific policies attached to this strategic vision.</li>
        Policy
          <li>A policy is specific rule which must be adhered to. A policy is ‘black and white’ and testable, and a solution will either comply or not.</li>
        Standard
          <li>A standard is something which has been approved internally for adoption across the business to ensure consistency and often, cost effectiveness. We break standards down into three areas; security standards, technology standards and interoperability standards.</li>
        Pattern
          <li>A proven, reusable solution to a common business or IT problem.</li>
        </ul>

        <div class="nhsuk-grid-row nhsuk-promo-group">
          <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo--small">
              <a class="nhsuk-promo__link-wrapper" href="/information/data">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">I want to find information about Data</h3>
                  <p class="nhsuk-promo__description">Data</p>
                </div>
              </a>
            </div>
          </div>
           <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo--small">
              <a class="nhsuk-promo__link-wrapper" href="/information/platform-and-infrastructure">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">I want to find information about Platform and Infrastructure:</h3>
                  <p class="nhsuk-promo__description">Platform and Infrastructure</p>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="nhsuk-grid-row nhsuk-promo-group">
          <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo--small">
              <a class="nhsuk-promo__link-wrapper" href="/information/interop">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">I want to find information about Interoperability:</h3>
                  <p class="nhsuk-promo__description">Interoperability</p>
                </div>
              </a>
            </div>
          </div>
           <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo--small">
              <a class="nhsuk-promo__link-wrapper" href="https://service-manual.nhs.uk">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">I want to design and build digital services for the NHS:</h3>
                  <p class="nhsuk-promo__description">Digital and UX</p>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="nhsuk-grid-row nhsuk-promo-group">
          <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo--small">
              <a class="nhsuk-promo__link-wrapper" href="https://aalto.digital.nhs.uk/#/runView/?viewId=15bf84d2-5f93-41dc-a043-e9386806f918&library=5464c07f-daf1-4eee-b9b6-22e6c4dfbbd0">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">I want to find information about technology standards:</h3>
                  <p class="nhsuk-promo__description">We have pre-approved Technology Standards in place, including Public Cloud (AWS and Azure) and On Premise Standards. As these do change and get updated regularly, please refer to the current Standards on the EA Portal.</p>
                </div>
              </a>
            </div>
          </div>
           <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo--small">
              <a class="nhsuk-promo__link-wrapper" href="https://aalto.digital.nhs.uk/#/search?noQuery=true&types=300&viewMode=1&library=5464c07f-daf1-4eee-b9b6-22e6c4dfbbd0">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">I want to find information about a specific Capability:</h3>
                  <p class="nhsuk-promo__description">Capabilities</p>
                </div>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
