{% set pageTitle = "Platform and Infrastructure" %}
{% set pageDescription = "This strategy promotes the vision to make it easier, cheaper and faster for programmes to securely host their systems and services." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">{{ pageTitle }}</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">{{ pageDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/information">Information</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/information">Information</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="app-pane">
      <div class="app-pane__side-bar">
          {% include "./includes/_information-side-navigation.njk" %}
      </div>
      <div class="app-pane__main-content">
        <h2>Does this apply to me?</h2>
        <p>At present 30+ infrastructure platforms exist across NHS Digital. In an effort to bring
        together new thinking and current initiatives, we have developed the <a href="https://hscic365.sharepoint.com/Platforms_and_Infrastructure/Pages/Platform-Strategy.aspx"> Infrastructure
        Platform Strategy.</a></p>

        <h2>Does this apply to me?</h2>
        <p>The strategy applies to anyone involved in the creation, delivery or governance of
        programmes, services and applications that require hosting. This includes: </p>
        <ul>
          <li>All new systems and services delivered in house including Spine and eRS
          (but excludes wholesale outsourced systems such as NHS Mail).</li>
          <li>Any existing services where it would make sense to re-evaluate the hosting
          arrangements e.g. contract break-points, where a significant issue exists or where
          it would be more cost effective to change.</li>
        </ul>

        <h2>What is it?</h2>
        <ul>
          <li>This strategy promotes the vision to make it easier, cheaper and faster for
              programmes to securely host their systems and services.</li>
        </ul>

        <h2>What does the Infrastructure Platform Strategy cover?</h2>
        <ol>
          <li>Creation of a single platform function
          <li>Embracing the Government’s Public Cloud First Policy</li>
          <li>Delivering a strategic NHS Digital Public Cloud</li>
          <li>Adoption of the ‘Where to host’ policy</li>
          <li>Adoption of the NHS Digital Data Security Risk Method</li>
          <li>Confirming Microsoft Azure and AWS as our strategic cloud partners</li>
          <li>Confirming Crown Hosting as our strategic co-location partner</li>
        </ol>

        <h2>What role do the TRG have in this strategy?</h2>
        <ul>
          <li>The TRG are responsible for ensuring the
          strategy and its related policies are adhered to.
          If your programme moves away from what is
          outlined, you will require TRG approval.</li>
        </ul>

        <div class="nhsuk-grid-row nhsuk-promo-group">
          <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo--small">
              <a class="nhsuk-promo__link-wrapper" href="https://enterprisearchitecture.digital.nhs.uk/system/files/Cloud%20Hosting%20Policy%20V3_0.pdf">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">Find information about Public Cloud and Co-location Infrastructure Platforms Policy</h3>
                  <p class="nhsuk-promo__description">Public Cloud and Co-location Infrastructure Platforms Policy</p>
                </div>
              </a>
            </div>
          </div>
           <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo--small">
              <a class="nhsuk-promo__link-wrapper" href="https://enterprisearchitecture.digital.nhs.uk/node/7351">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">I want to find information about Cloud Access Policy Statements</h3>
                  <p class="nhsuk-promo__description">Cloud Access Policy Statements</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="nhsuk-grid-row nhsuk-promo-group">
          <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo--small">
              <a class="nhsuk-promo__link-wrapper" href="https://hscic365.sharepoint.com/Platforms_and_Infrastructure/Pages/Platform-Strategy.aspx">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">I want to find information about Platform Strategy Tech Stacks</h3>
                  <p class="nhsuk-promo__description">Platform Strategy Tech Stacks</p>
                </div>
              </a>
            </div>
          </div>
           <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo--small">
              <a class="nhsuk-promo__link-wrapper" href="/information/platform-and-infrastructure">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">I want to find information about Cloud Patterns</h3>
                  <p class="nhsuk-promo__description">Cloud Patterns (coming soon)</p>
                </div>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
  {% endblock %}
