{% extends 'includes/layout.njk' %}

{% block outerBody %}
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">Technical Review and Governance group</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Helping technical architects and project professionals to navigate our technical governance process.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block body %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h2 id="what-do-you-want-to-do-today">What do you want to do today?</h2>
  </div>
</div>

<div class="nhsuk-grid-row nhsuk-promo-group">
  <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
    <div class="nhsuk-promo nhsuk-promo--small">
      <a class="nhsuk-promo__link-wrapper" href="/#page">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">I want to find a specific principle, strategy, policy or standard</h3>
          <p class="nhsuk-promo__description">Helping me deliver projects faster. Avoid wastage. Creating consistency.</p>
        </div>
      </a>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
    <div class="nhsuk-promo nhsuk-promo--small">
      <a class="nhsuk-promo__link-wrapper" href="/#page-1">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">I know something exists. I want to find out if it is suitable for me to re-use it</h3>
          <p class="nhsuk-promo__description">Saving me development time and effort. Helping create a joined-up organisation.</p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="nhsuk-grid-row nhsuk-promo-group">
  <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
    <div class="nhsuk-promo nhsuk-promo--small">
      <a class="nhsuk-promo__link-wrapper" href="/#page-2">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">I can't find anything fit-for-purpose. I want to understand ongoing developments in other programmes that might be of use and if there is anything pre-approved</h3>
          <p class="nhsuk-promo__description">Making sure I don't duplicate development. Reducing time spent in governance.</p>
        </div>
      </a>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
    <div class="nhsuk-promo nhsuk-promo--small">
      <a class="nhsuk-promo__link-wrapper" href="/#page-3">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">I want to find out how to take a project through governance</h3>
          <p class="nhsuk-promo__description">Making sure I go to the right board at the right time. Saving my efforts, and NHS money, if approval has already been given.</p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <div class="nhsuk-action-link">
      <a class="nhsuk-action-link__link" href="/#page-4">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
        </svg>
        <span class="nhsuk-action-link__text">View current TRG decisions</span>
      </a>
    </div>

  </div>
</div>

{% endblock %}
